<div class="heading">
    <i class="fa fa-key" style="font-size: 3.5vw;"></i>
    <p id="headline" style="font-size: 3.5vw;"><strong>Manage Your Passwords! </strong></p>
    <i class="fa fa-lock" style="font-size: 3.5vw;"></i>
</div>
