<div class="header">
        <a id="head" href="/dashboard">Dashboard</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a id="head" href="/add_new_category">Add New Category</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a id="head" href="/password_category">View All Category</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a id="head" href="/add_new_password">Add New Password</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a id="head" href="/view_all_password">View All Password</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a id="head" href="/logout">LogOut</a>
        <p class="whologin">Hi <%=loginUser%></p>
</div>